doctype html
html
    head
        title Arquivo Musical
        meta(charset="UTF8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="w3.css", rel="stylesheet")
    body
        block corpo
        